<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Endless Venture</title>
        <!-- <link rel="stylesheet" href="assets/css/main.css"> -->
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="top">
                <span><h2>Endless <br>Venture</h2></span>

                <nav>
                   <div class="font1">
                    <a href="">Home</a>
                    <a href="">Travel</a>
                    <a href="">Food Pics</a>
                    <a href="">MN notes</a>
                    <a href="">Archive</a>
                  </div>
                    <br>
                    <div class="font2">
                     <a href="">Home</a>
                     <a href="">Travel</a>
                     <a href="">Food Pics</a>
                     <a href="">MN notes</a>
                     <a href="">Archive</a>
                   </div>
                    <br>
                    <div class="font3">
                     <a href="">Home</a>
                     <a href="">Travel</a>
                     <a href="">Food Pics</a>
                     <a href="">MN notes</a>
                     <a href="">Archive</a>
                   </div>
                    <br>
                    <div class="font4">
                     <a href="">Home</a>
                     <a href="">Travel</a>
                     <a href="">Food Pics</a>
                     <a href="">MN notes</a>
                     <a href="">Archive</a>
                   </div>
                    <br>
                    <div class="font5">
                     <a href="">Home</a>
                     <a href="">Travel</a>
                     <a href="">Food Pics</a>
                     <a href="">MN notes</a>
                     <a href="">Archive</a>
                   </div>
                    <br>
                    <div class="font6">
                     <a href="">Home</a>
                     <a href="">Travel</a>
                     <a href="">Food Pics</a>
                     <a href="">MN notes</a>
                     <a href="">Archive</a>
                   </div>
                    <br>
                    <div class="font-default">
                     <a href="">Home</a>
                     <a href="">Travel</a>
                     <a href="">Food Pics</a>
                     <a href="">MN notes</a>
                     <a href="">Archive</a>
                   </div>
                </nav>
            </div>

            <div class="bottom"></div>
        </header>
        
      {{ content }}

    </body>
</html>
